<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoqiao.mapper.UserMapper">
    <select id="getUser" resultType="com.xiaoqiao.entity.User">
        select * from user
    </select>

    <select id="getUserName" parameterType="int" resultType="String">
        select userName from user where userId = #{userId}
    </select>
</mapper>